.button {
  font: inherit;
  border: 1px solid darkblue;
  background: darkblue;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: blue;
  border-color: blue;
}

.button:focus {
  outline: none;
}


/* // by adding Component.module.css, this will style that particular jsx file only */